
pandas==2.2.2
numpy==1.26.4

scikit-learn==1.4.2
xgboost==2.0.3
joblib==1.4.2

huggingface_hub>=0.25.0
sentencepiece==0.2.0

fastapi
uvicorn

transformers
peft
bitsandbytes
sentence-transformers
faiss-cpu
pydantic
accelerate